- if @workspaces
  - @workspaces.each do |workspace|
    %ul.list
      %li
        = workspace.name
        - workspace.projects.each do |project|
          %ul
            %li
              = project
