development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

test: &test
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

staging:
  adapter: mysql2
  encoding: utf8
  database: rails
  pool: 25
  reaping_frequency: 10
  username: rails
  password: Y8PYIYIfje
  socket: /var/run/mysqld/mysqld.sock
