development:
  delivery_method: :smtp
  raise_delivery_errors: true
  smtp_settings:
    :address: 127.0.0.1
    :port: 1025
    :authentication: plain
    :user_name: user
    :password: 123456789
  default_url_options:
    :host: localhost:3000
  default_from: from@example.com

production:
  delivery_method: :smtp
  raise_delivery_errors: true
  smtp_settings:
    :address: smtp.gmail.com
    :port: 1025
    :authentication: plain
    :user_name: user
    :password: 123456789
  default_url_options:
    :host: localhost:3000
  default_from: from@example.com

staging:
  delivery_method: :smtp
  raise_delivery_errors: true
  smtp_settings:
    :address: smtp.gmail.com
    :port: 587
    :authentication: plain
    :user_name: tataronrails@gmail.com
    :password: tataronrails78
    :enable_starttls_auto: true
  default_url_options:
    :host: '178.62.155.118'
  default_from: no-reply@toggrep.com