%table.ui.table.segment
  %thead
    %tr
      %th
        %i.calendar.icon
        Dates
      %th
        %i.time.basic.icon
        Duration
      %th
        %i.time.basic.icon
        Worked time
      %th
        %i.users.icon
        Manager
      %th
        %i.user.icon
        Worker
      %th
        %i.flag.icon
        State
      %th
        %i.legal.icon
        Violations
      %th
      %th
  %tbody
    - if @agreements.any?
      = render partial: 'table_row', locals: { agreements: @agreements }
    - else
      %tfoot
        %tr
          %th{colspan: '7'}
            Nothing to show
