.ten.wide.column
  %h1
    %br
  .ui.top.attached.center.aligned.segment
    Work History
    %table.ui.table.segment
      %thead
        %tr
          %th
            Description
          %th
            Duration
          %th
            Start
          %th
            Stop
      %tbody
        - if time_entries.any?
          = render partial: 'time_entry_table_rows', locals: { time_entries: time_entries }
        - else
          %tfoot
            %tr
              %th{colspan: '4'}
                Nothing to show

