html
  font-size: 15px
  height: 100%

body
  font-size: 15px
  height: 100%
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  background: #FFFFFF
  margin: 0px 10px 10px 10px
  padding: 0px
  color: #555555
  text-rendering: optimizeLegibility
  min-width: 320px

  &.loading
    overflow: hidden

    .modal
      display: block

.ui.button
  font-weight: normal
  text-decoration: none

a
  color: #000000
  text-decoration: none
  -webkit-transition: color 0.3s ease
  transition: color 0.3s ease
  &:hover
    color: purple

.ui.table
  text-align: left

.list
  font-size: 17px

#header
  .avatar
    padding:
      top: 0.25em
      bottom: 0.25em
    width: 4em

.modal
  display: none
  position: fixed
  z-index: 1000
  top: 0
  left: 0
  height: 100%
  width: 100%
  background: rgba(255, 255, 255, 0.8) url('/assets/ajax-loader.gif') 50% 50% no-repeat
