.ui.large.purple.menu
  .header.item
    %b ToggRep
  %a.item{:href => page_path(:projects)}
    %i.fa.fa-briefcase
    Projects
  %a.item{:href => page_path(:reports)}
    %i.fa.fa-bullhorn
    Reports
  %a.item{:href => page_path(:workers)}
    %i.fa.fa-users
    Workers
  .right.menu
    - if current_user
      .item
        = link_to current_user, current_user
      .item
        = link_to 'logout', destroy_user_session_path, :method => 'get'
    - else
      .item
        = link_to "Sign up", new_user_registration_path
      .item
        = link_to "Sign in", new_user_session_path
